
div input{
    
        width:100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc,
     
}
div ui{
    list-style-type: none;
     padding: 0 
}
div ul li{
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
}